.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

.navbar {
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
background-color: rgba(0, 0, 0, 0.878); Adjust the opacity as needed
}
.navbar-toggler-icon {
  filter: brightness(0) invert(1);
stroke: #fff;
}
.dropdown-menu .dropdown-item {
  font-size: 1em;
}

@media (max-width: 470px) {
  .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
}
}

@media (max-width: 415px) {
  .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
}
}


@media (max-width: 400px) {
  .dropdown-menu .dropdown-item {
  font-size: 0.7rem;
}
}

@media (max-width: 370px) {
  .dropdown-menu .dropdown-item {
  font-size: 0.6rem;
}
}

.strikethrough {
    text-decoration: line-through;
    color: #8E8E8E;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .custom-img {
    /* width: 50%; */
    height: auto;
  }

  .custom-card {
    margin-left: -10px;
    margin-right: -10px;
    /* max-width: 100%; */
  }

.one-head {
    color: #003B81;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 92.8%;
}

.br-head {
    font-family: 'Poller One', cursive;
    font-size: 3rem;
    font-weight: 800;
    color: #003B81;
    
}


  .Sub-Heading {
    position: relative;
    top: -70px;
  }

  @media (max-width: 991px) {
    .Sub-Heading {
      position: relative;
      top: 30px;
    }
  }

  .sec2-heading {
    position: relative;
  }

  .custom-card {
    border-radius: 14px;
  }

  .custom-img {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
  }
  

  @media (max-width: 992px) {
    .robo {
      display: none;
    }

    .Sub-Heading {
      position: relative;
      /* bottom: 1000px; */
    }
  }

  @media (max-width: 769px) {
    .one-head, .strikethrough{
      font-size: 1.5rem;
    }
    .br-head {
      font-size: 3rem;
    }
    .Hero-Heading {
      width: 75%;
    }
  }

  @media (max-width: 570px) {
    .one-head, .strikethrough{
      font-size: 1rem;
    }
    .br-head {
      font-size: 2rem;
    }
    .Hero-Heading {
      width: 75%;
    }
    .Sub-Heading, .Hero-Heading {
      padding: 0px 0px 0px 0px !important;
    }

    .mid-heading{
      font-size: 2rem;
    }

    .mid-subheading {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 500px) {
    .card-title {
      font-size: 2rem;
    }
  }

  @media (max-width: 423px) {
    .card-title {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 354px) {
    .card-title {
      font-size: 1.3rem;
    }
  }

  .bot-foot {
    background: #343A3F;
  }
  
  .bf-name{
    color: #fff;
    font-family: 'Poller One', cursive;
  }
  .footer-link{
    color: #fff;
  }

  .footer-link:hover {
    color: #fff;
  }

  .foot-icon{
    color: #fff;
  }
  .rightsCopy{
    color: #fff;
  }

  @media (max-width: 768px) {
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .founder-img {
      display: flex;
      justify-content: center;
      /* align-items: center; */
    }
    .custom-img {
      border-radius: 14px;
    }
  }

      /* Styling for screens larger than 500px */
@media (min-width: 577px) {
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: auto;
      scrollbar-color: #27242a #ffffff00;
    }
  
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 10px;
    }
  
    *::-webkit-scrollbar-track {
      background: #ffffff;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #27242a;
      border-radius: 0px;
      border: 0px solid #ffffff;
    }
  }